{% load main_tags_and_filters %}
{% load thumbnail %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <a class="navbar-brand" href="/">{{ "Привет, мир!" | string_inversion }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for page in flatpages %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                                            href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                                            href="#">Привет, {{ user }}!</a></li>
                    <li class="nav-item">
                        {% thumbnail user.seller.avatar "40x40" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"
                                 class="rounded-circle">
                        {% endthumbnail %}
                    </li>
                {% endif %}
            </ul>
        </div>
        <button type="button" class="btn btn-primary">
            Notifications <span class="badge bg-secondary">{% number_of_user_notifications %}</span>
        </button>
    </div>
</nav>
