{% extends "main/base.html" %}
{% load static %}
{% load main_tags_and_filters %}

{% block title %}Объявления{% endblock %}

{% block content %}
    {% if user.is_authenticated and not user.seller.is_banned %}
        <a href="/ads/add/">
            <button type="button" class="btn btn-outline-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus"
                     viewBox="0 2 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                </svg>
                Добавить
            </button>
        </a>
    {% endif %}
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заголовок</th>
                </tr>
                </thead>
                <tbody>
                {% for ad in page_obj %}
                    <tr>
                        <th scope="row">{{ ad.id }}</th>
                        <td><a href="/ads/{{ ad.id }}/">{{ ad.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <!--Pagination-->
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}">
                            Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span>
                        </li>
                    {% else %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <!-- tags -->

{#        <div class="col-md-3 col-sm-12">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <ul class="list-group list-group-flush">#}
{#                    <li class="list-group-item">Тэги</li>#}
{#                    {% for tag in tags %}#}
{#                        <li class="list-group-item"><a href="/ads/?tag={{ tag.slug }}">{{ tag }}</a>#}
{#                            {% if current_tag == tag.slug %}#}
{#                                <a href="/ads/">#}
{#                                    <button type="button"#}
{#                                            class="btn-close position-absolute top-50 end-0 translate-middle "#}
{#                                            aria-label="Close"></button>#}
{#                                </a>#}
{#                            {% endif %}#}
{#                        </li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
    </div>

    <!-- chat -->
    <div class="w-25" id="chat_placeholder"></div>
    <div class="row g-3">
        <div class="col-auto">
            <label for="chat_field" class="visually-hidden">Search ad</label>
            <input class="form-control" id="chat_field" placeholder="Search ad">
        </div>
        <div class="col-auto">
            <button type="submit" id="chat_send_button" class="btn btn-primary mb-3">Send</button>
        </div>
    </div>

    <script src="{% static "js/ad_list.js" %}"></script>

{% endblock %}
